<!DOCTYPE html>
<html lang="en">
<head>
	<title>Error</title>
    <% include ../partials/head %>
</head>
<body class="container">

    <div class="jumbotron">
        <h1 class="center">Ticket Booking System</h1>
        <p><%=results %></p>
    </div>

</body>
</html>