<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Ticket Info</title> 
    <% include ../partials/head %>
</head> 
  
<body class="container"> 
    <div class="jumbotron">
        <center>
        	<p>The Ticket lists.</p>
        	<ul>
    	      <% tickets.forEach(function(ticket) { %>
    	          <li><%= ticket.From %> - <%= ticket.To %> - <%= ticket.Departure%> - <%=ticket.DATE%></li>
    	      <% }); %>
        	</ul>
            <a href="/";">Back</a>
        </center> 
    </div>
</body> 
  
</html>   